
.upvote {
    color: rgb(255, 81, 0);
}
.reddirt-title .title{
    text-decoration: none;
    color: rgb(255, 72, 0);
}
.center {
    align-items: center;
    margin: 0px;
}
body a:hover {
    text-decoration: none;
}
.fuck {
    padding: 0px;
    align-items: center;
    text-align: center;
}
.fuck .v-btn {
    color: pink;
}
.reddirt-title a{
    text-decoration: none;
}

.my-nav-item a {
    text-decoration: none;
    color: black;
}

.my-nav-item a:hover {
    text-decoration: none;
    color: rgb(245, 70, 216);
}

.post-item a {
    text-decoration: none;
}

#card_user a {
    color: rgb(23, 23, 26);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.upvote:focus {
    color: pink;
}

.downvote:focus {
    color: rgb(74, 74, 243);
}
.container.item {
    margin: none;
    padding: none;
    color: pink;
}
#commentCard {
    margin: 0px;
    padding: 0px;
}
#commentCard:focus {
    background-color: rgb(224, 255, 214);
}
/* #commentCard:hover {
    background-color: #d3d3d3;
} */

.post-item:hover {
    background-color: rgb(224, 224, 224);
}
ul {
    list-style-type: none;
    padding-left: 1em;
    line-height: 1.5em;
}

li {
    list-style-type: none;
}

.post-item a:hover {
    text-decoration: none;
    background-color: rgb(224, 224, 224);
}

.my-nav-item:hover {
    background-color: rgb(43, 43, 43);
}

#demo {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    max-height: 64px;
}

#demo:hover {
    color: rgb(77, 77, 77);
}

#list {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}

#list:hover {
    color: rgb(77, 77, 77);
}

.jumbotron {
    background-color: #d5d0c9;
}

body {
    background-color: #bdbdc9;
}

.instrumentCard:hover {
    background-color: rgb(43, 43, 43);
}
