{% load static i18n %}
<!doctype html>

<head>
  <link href="{% static 'vue/css/icon.css' %}" rel="stylesheet">
  <link href="{% static 'vue/css/css.css' %}" rel="stylesheet">
  <link href="{% static 'vue/css/materialdesignicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vue/css/vuetify.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script type="text/x-template" id="item-template">
        <!-- VUE TEMPLATES HERE-->
    </script>
  <title>TrackBox</title>
</head>
<style scoped>
  .v-card {
    transition: opacity .2s ease-in-out;
  }

  .v-card:not(.on-hover) {
    opacity: 0.9;
  }

  .show-btns {
    color: rgba(255, 255, 255, 1) !important;
  }
</style>

<body>
  <div id="mainApp">
    <v-app id="inspire" dark>
      <v-navigation-drawer dark absolutely app temporary v-model="drawer">
        <v-list dense>
          <!-- <v-divider></v-divider> -->
          <v-subheader>
            <v-col cols="6">
              Menu
            </v-col>
          </v-subheader>
          <div class="my-nav-item" @click="drawer=!drawer">
            <v-list-item @click="">
              <v-list-item-action>
                <v-icon>account_circle
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="white--text">
                  Your Profile
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
          <div class="my-nav-item" @click="drawer=!drawer">
            <v-list-item @click="">
              <v-list-item-action>
                <v-icon>settings
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="white--text">
                  Settings
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
          <v-divider dark class="my-4"></v-divider>
          <v-subheader>
            <v-col cols="6">
              Instruments
            </v-col>
          </v-subheader>
          <div class="my-nav-item" @click="selectCategory(''), drawer=!drawer">
            <v-list-item @click="">
              <v-list-item-action>
                <v-icon>list
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="white--text">
                  All
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
          <div class="my-nav-item" @click="selectCategory('&starred=true'), drawer=!drawer">
            <v-list-item @click="">
              <v-list-item-action>
                <v-icon>star
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="white--text">
                  Starred
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
          <div v-for="category in instrumentCategories">
            <div class="my-nav-item" @click="selectCategory(category), drawer=!drawer">
              <v-list-item @click="">
                <v-list-item-action>
                  <v-icon>circle
                  </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="white--text">
                    <% category %>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </div>
          </div>
          <v-divider dark class="my-4"></v-divider>
          <v-list-item>
            <v-btn color="red lighten-2" dark @click="importDialog=true, drawer=false">
              Import Data
            </v-btn>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar dense hide-on-scroll app dark>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>TrackBox </v-toolbar-title>
        <v-icon color="grey darken-2">fa-box-open</v-icon>
        <template v-slot:extension>
          <v-subheader>
            <% formattedCategory %>
          </v-subheader>
          <v-tooltip left>
            <template v-slot:activator="{ on, attrs }">
              <v-btn fab color="grey darken-3" bottom right absolute v-bind="attrs" v-on="on" @click="drawer = !drawer"
                v-show="true">
                <v-icon>fa-plus</v-icon>
              </v-btn>
            </template>
            <span>Add an Instrument</span>
          </v-tooltip>
        </template>
      </v-app-bar>
      <v-main>
        <v-container>
          <v-sheet>
            <v-list-item fill-width three-line>
              <p class="transition-swing text-h2 mb-0">
                Instruments
              </p>
          </v-sheet>
          <v-scroll-x-transition>
            <v-container class="pa-0" v-show="showInstruments" fluid grid-list-sm>
              <v-layout row wrap>
                <v-flex v-for="(instrument, index) in instrumentList" fill-width :key="instrument.id"
                  :cols="instrument.flex" m3>
                  <v-hover v-slot:default="{ hover }">
                    <v-card id="instrumentCard" class="mx-auto" :color="getCardColor(index)" :elevation="hover ? 8 : 2"
                      :class="{ 'on-hover': hover }">
                      <v-list-item @click="viewInstrument(index), detailDialog=true" three-line>
                        <v-list-item-content>
                          <div class="overline mb-4">
                            <% instrument.category%>
                          </div>
                          <v-list-item-title class="headline mb-1">
                            <% instrument.name %>
                          </v-list-item-title>
                          <v-list-item-subtitle>
                            <% instrument.location %>
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <v-divider class="ma-0"></v-divider>
                      <v-card tile color="rgba(0,0,0, .3)">
                        <v-card-actions class="pa-0">
                          <v-spacer></v-spacer>
                          <v-btn icon @click="selectInstrument(index), instrumentDialog = true">
                            <v-icon>settings</v-icon>
                          </v-btn>
                          <v-btn icon @click="toggleStarred(index)">
                            <v-icon :color="getStarred(index)">star</v-icon>
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-card>
                  </v-hover>
                </v-flex>
              </v-layout>
            </v-container>
          </v-scroll-x-transition>
        </v-container>
      </v-main>
      <!--v-footer app fixed>
        <span>&copy; 2020</span>
      </v-footer-->
    </v-app>
    <v-dialog v-model="instrumentDialog" persistent max-width="600px">
      <v-card>
        <v-app-bar dark>
          <v-btn icon @click="instrumentDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title><span class="title ml-3 mr-5">Edit Instrument:</span><% selectedInstrument.name %>
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-app-bar>
        <!-- <v-card-title>
          <span class="headline">Edit Instrument:</span>
          <span class="headline" v-text="selectedInstrument.name"></span>
        </v-card-title> -->
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field v-model="selectedInstrument.name" label="Instrument Name" hint="Name this instrument"
                  required>
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-select :items="instrumentCategories" label="Category" v-model="selectedInstrument.category" required>
                </v-select>

              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Location" v-model="selectedInstrument.location" hint="Physical location of sensor."
                  required>
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
              </v-col>
            </v-row>
          </v-container>
          <small>holder</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="instrumentDialog = false">
            Close
          </v-btn>
          <v-btn color="blue darken-1" :key="selectedInstrument.id" text @click="saveInstrument(selectedInstrument.id)">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog app v-model="detailDialog" :instrument="selectedInstrument" :index="selectedIndex" persistent fullscreen
      hide-overlay>
      <v-card>
        <v-app-bar app dark>
          <v-btn icon @click="detailDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title><span class="title ml-3 mr-5"><% selectedInstrument.name %></span>
          </v-toolbar-title>
        </v-app-bar>
        <v-card>
          <br><br><br>
          hahahaha
          <div v-for="entry in gyroData">
            <p>
              hahaha
              <% entry.time %>
            </p>
          </div>
        </v-card>
      </v-card>
    </v-dialog>
    <v-dialog v-model="importDialog" width="550">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Import Data Files
        </v-card-title>

        <v-card-text>
          <p>
            Import comma separated serial data files.
          </p>
          <p>
            For correct timestamps, please use this format:</p>
          <p>YYYY/mm/dd, HH:MM:ss <br>ex. 2020/03/16, 22:11:00</p>
        </v-card-text>

        <v-card-actions>
          <v-file-input type="file" v-model="importFileList" small-chips multiple label="Serial Data Log Files"></v-file-input>
          <br>
          <v-btn @click="papaParse()">IMPORT</v-btn>
        </v-card-actions>
        <v-alert
        dense
        text
        v-model="importSuccess.success"
        type="success"
      >
        <strong><% importSuccess.rows %></strong> rows<strong> successfully imported.
      </v-alert>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="importDialog = false">
            Done
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
  <script src='{% static 'js/jquery-3.5.1.min.js' %}'></script>
  <script src='{% static 'js/fontawesome.js' %}'></script>
  <script src='{% static 'js/base.js' %}'></script>
  <script src="{% static 'vue/js/vue.js' %}"></script>
  <script src="{% static 'vue/js/vuex.js' %}"></script>
  <script src="{% static 'vue/js/vuetify.js' %}"></script>
  <script src="{% static 'vue/js/axios.min.js' %}"></script>
  <script src="{% static 'js/papaparse.min.js' %}"></script>
  <script src="{% static 'js/myVue.js' %}"></script>
  <script>
    mainApp.loadJson();
  </script>
</body>

</html>